## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [71]:
import pandas as pd

with open('recipes_sample.csv') as recipes_file:
    recipes = pd.read_csv(recipes_file, sep=',')

recipes

with open('reviews_sample.csv') as reviews_file:
  reviews = pd.read_csv(reviews_file, index_col=0, sep=',')

reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [75]:
print(f'Таблица рецептов: \nСтрок: {len(recipes)}\nСтолбцов: {len(recipes.axes[1])}\n{recipes.dtypes}')
print(f'\nТаблица отзывов: \nСтрок: {len(reviews)}\nСтолбцов: {len(reviews.axes[1])}\n{reviews.dtypes}')

Таблица рецептов:
Строк: 30000
Столбцов: 8
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

Таблица отзывов:
Строк: 126696
Столбцов: 5
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [70]:
print('Таблица рецептов:')
print(recipes.isnull().sum())
print('\nДоля строк: {:.2f}%'.format(sum(recipes.isnull().any(axis=1))/len(recipes)*100))


print('\nТаблица отзывов:')
print(reviews.isnull().sum())
print('\nДоля строк: {:.2f}%'.format(sum(reviews.isnull().any(axis=1))/len(reviews)*100))

Таблица рецептов:
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

Доля строк: 56.85%

Таблица отзывов:
user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64

Доля строк: 0.01%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [61]:
print('Таблица рецептов: ')
recipe_cols = recipes.select_dtypes(include=[float,int]).columns
recipe_means = recipes[recipe_cols].mean().round(2)
for col, mean in zip(recipe_cols, recipe_means):
  print(col, ':', mean)

print('\nТаблица просмотров: ')
review_cols = reviews.select_dtypes(include=[float,int]).columns
review_means = reviews[review_cols].mean().round(2)
for col, mean in zip(review_cols, review_means):
  print(col, ':', mean)

Таблица рецептов:
id : 221879.29
minutes : 123.36
contributor_id : 5635900.57
n_steps : 9.81
n_ingredients : 9.01

Таблица просмотров:
user_id : 140801264.74
recipe_id : 160094.39
rating : 4.41

1.5 Создайте серию из 10 случайных названий рецептов.

In [78]:
recipes['name'].sample(10)

17184         mashed potatoes with parsnip and horseradish
9843                                    easy beef macaroni
20333                                 pear custard cobbler
12347        grammie miller s corn n  crab or tuna chowder
16806    mama d s mama d s busy night  not quite chicke...
24049                            shrimp and scallop posole
28395                     ultimate super bowl sub sandwich
13897                                  homemade sauerkraut
7474                             continental cabbage salad
9814                                 easy baileys truffles
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [77]:
reviews.reset_index(drop=True, inplace=True)
reviews.head()

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [76]:
recipes[(recipes['minutes']<=20)&(recipes['n_ingredients']<=5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [84]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
(recipes['submitted'].dtype)

dtype('<M8[ns]')

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [86]:
recipes[recipes['submitted']<='01-01-2010']

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [90]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [91]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [92]:
recipes['name_word_count'] = recipes['name'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,37
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,34
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,28
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,20
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,40
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,44
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,36
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,43
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,11
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,38

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [54]:
recipes = pd.read_csv('/content/recipes_sample.csv', parse_dates=[4])
recipes.groupby('contributor_id').count()['id']

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64

In [56]:
id = recipes.groupby('contributor_id').count()['id'].idxmax()
print(f"Участник с id: {id} добавил максимальное количество рецептов")

Участник с id: 89831 добавил максимальное количество рецептов

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [102]:
reviews = pd.read_csv('reviews_sample.csv', parse_dates=[3], index_col=0)
rating_mean = reviews.groupby('recipe_id')['rating'].mean()
rating_mean

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [104]:
reviews_not = len(recipes['id']) - len(rating_mean)
print(f'Для {reviews_not} рецептов отстутсвуют отзывы.')

Для 1900 рецептов отстутсвуют отзывы.

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [105]:
recipes.groupby(pd.Grouper(key='submitted', freq='Y')).id.nunique()

submitted
1999-12-31     275
2000-12-31     104
2001-12-31     589
2002-12-31    2644
2003-12-31    2334
2004-12-31    2153
2005-12-31    3130
2006-12-31    3473
2007-12-31    4429
2008-12-31    4029
2009-12-31    2963
2010-12-31    1538
2011-12-31     922
2012-12-31     659
2013-12-31     490
2014-12-31     139
2015-12-31      42
2016-12-31      24
2017-12-31      39
2018-12-31      24
Freq: A-DEC, Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [142]:
table_new = pd.merge(recipes[['id', 'name']], reviews[['user_id', 'rating', 'recipe_id']], left_on='id', right_on='recipe_id').drop('recipe_id', axis=1)
print(table_new)

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [143]:
table = pd.merge(recipes[['name', 'id']], reviews['recipe_id'], left_on='id', right_on='recipe_id')
print(table)

                                          name      id  recipe_id
0        George S At The Cove  Black Bean Soup   44123      44123
1        George S At The Cove  Black Bean Soup   44123      44123
2        George S At The Cove  Black Bean Soup   44123      44123
3           Healthy For Them  Yogurt Popsicles   67664      67664
4           Healthy For Them  Yogurt Popsicles   67664      67664
...                                        ...     ...        ...
126691                             Zydeco Soup  486161     486161
126692                             Zydeco Soup  486161     486161
126693                             Zydeco Soup  486161     486161
126694                             Zydeco Soup  486161     486161
126695  Cookies By Design   Cookies On A Stick  298512     298512

[126696 rows x 3 columns]

In [144]:
array = pd.merge(reviews.groupby('recipe_id').count()['date'], table, right_on='recipe_id', left_on='recipe_id').drop('id', axis=1)
print(array.rename(columns={'date': 'review_count'}))

        recipe_id  review_count                                        name
0              48             2                            Boston Cream Pie
1              48             2                            Boston Cream Pie
2              55             4  Betty Crocker S Southwestern Guacamole Dip
3              55             4  Betty Crocker S Southwestern Guacamole Dip
4              55             4  Betty Crocker S Southwestern Guacamole Dip
...           ...           ...                                         ...
126691     536729             4                Creole Watermelon Feta Salad
126692     536747             4                          Lemon Pom Pom Cake
126693     536747             4                          Lemon Pom Pom Cake
126694     536747             4                          Lemon Pom Pom Cake
126695     536747             4                          Lemon Pom Pom Cake

[126696 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [145]:
recipes_year = recipes.groupby('submitted')
print("Отзывы, добавленные в", recipes_year['minutes'].mean().idxmin(), " году, имеют наименьший средний рейтинг:", recipes_year['minutes'].mean()[recipes_year['minutes'].mean().idxmin()])

Отзывы, добавленные в 1999-08-18 00:00:00  году, имеют наименьший средний рейтинг: 0.0

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [146]:
new_array = recipes.sort_values('name_word_count',ascending=False)
new_array.to_csv('new_recipe.csv')
new_array

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
22778,Roasted Garlic Stuffed Steak With Garlic Mashe...,38409,85,53227,2002-08-26,NaN,this is for all those garlic lovers out there ...,8.0,88.0,83
14735,Italian Sausages And Beans With Sage Salsicci...,38761,70,30893,2002-08-28,10.0,this is from a recent foodday section of the o...,NaN,98.0,74
13578,Hefty Defty Roly Poly Weebles Wobbles But They...,37673,52,23302,2002-08-19,10.0,eat 'em or freeze 'em.,13.0,22.0,71
18830,Norwegian Fried Venison Cutlet With Currant Sa...,80199,1460,112818,2004-01-05,17.0,this is one of my very favorites! if you don't...,20.0,249.0,71
3907,Brouillade Of Mushrooms Or The Best Scrambled...,38270,35,27678,2002-08-26,NaN,i love this recipe. the title makes it sound s...,9.0,234.0,67
...,...,...,...,...,...,...,...,...,...,...
15144,Kahk,106784,75,182443,2004-12-23,NaN,authentic egyptian cookies,9.0,26.0,4
15470,Klah,67812,5,37462,2003-07-29,4.0,NaN,5.0,NaN,4
18090,More,218538,60,397272,2007-03-24,NaN,"in response to a search, i started dragging ou...",12.0,224.0,4
11671,Fufu,310279,20,335614,2008-06-20,7.0,my husband and i tried this at the animal king...,6.0,306.0,4
14355,Ice,105671,445,177285,2004-12-08,3.0,a family tradition food. served with dinner in...,5.0,397.0,3

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [150]:
new_excel = {'Рецепты с оценкой': table_new, 'Количество отзывов по рецептам': table}
writer = pd.ExcelWriter('/content/data_frame.xlsx')
for sheet_name in new_excel.keys():
  new_excel[sheet_name].to_excel(writer, sheet_name=sheet_name, index=False)
writer.save()

In [151]:
print(pd.read_excel('/content/data_frame.xlsx', sheet_name=['Рецепты с оценкой', 'Количество отзывов по рецептам'])['Рецепты с оценкой'])

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

In [152]:
print(pd.read_excel('/content/data_frame.xlsx', sheet_name=['Рецепты с оценкой', 'Количество отзывов по рецептам'])['Количество отзывов по рецептам'])

                                          name      id  recipe_id
0        George S At The Cove  Black Bean Soup   44123      44123
1        George S At The Cove  Black Bean Soup   44123      44123
2        George S At The Cove  Black Bean Soup   44123      44123
3           Healthy For Them  Yogurt Popsicles   67664      67664
4           Healthy For Them  Yogurt Popsicles   67664      67664
...                                        ...     ...        ...
126691                             Zydeco Soup  486161     486161
126692                             Zydeco Soup  486161     486161
126693                             Zydeco Soup  486161     486161
126694                             Zydeco Soup  486161     486161
126695  Cookies By Design   Cookies On A Stick  298512     298512

[126696 rows x 3 columns]